$font-default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-title: GeosansLight, Roboto, Aria, Helvetica, sans-serif;

$breakpoint-medium: 850px;
$breakpoint-large: 990px;
$breakpoint-larger: 1200px;

$grid-header-height: 50px;
$grid-notifications-width: 250px;

$color-primary: #7381bb;
$color-secondary: #bfc5d1;
$color-info: #007bff;
$color-warning: #eb7f00;
$color-danger: #dc3545;
$color-section-menu: #ffffff;
$color-section-notifications: #dee2ed;
$color-background: #f5f6fa;
