@import 'vars';

@mixin input {
  border: none;
  background: $color-section-notifications;
  color: $color-primary;
  border-radius: 3px;
  padding: 4px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea {
  @include input();
  border-bottom: 2px solid white;
}

select {
  @include input();
  cursor: pointer;
}
