@import '~bootstrap-reboot/bootstrap-reboot.scss';
@import '~bootstrap-4-grid/scss/grid.scss';
@import '~@fortawesome/fontawesome/styles.css';
@import 'vars';

body {
  background: #f2f2f2;
}

*:focus {
  outline: none;
}

.text-info {
  color: $color-info;
}

.text-warning {
  color: #ffc107;
}

.text-danger {
  color: $color-danger;
}

a:hover {
  text-decoration: none;
}

::-webkit-scrollbar-track
{
  background: transparent;
}

::-webkit-scrollbar
{
  width: 20px;
  background: transparent;
}

::-webkit-scrollbar-thumb
{
  background-color: #cfcfcf;
  border-radius: 15px;
  border: 6px solid #f2f2f2;

  &:hover {
    background-color: #b3b3b3;
  }
}
