@import '~bootstrap-reboot/bootstrap-reboot.scss';
@import '~@fortawesome/fontawesome/styles.css';
@import '~cryptocoins-icons/webfont/cryptocoins.css';
@import 'vars';

@font-face {
  font-family: 'GeosansLight';
  src: url('../fonts/GeosansLight.ttf');
}

body {
  background: $color-section-content;
  font-family: $font-default;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-weight: normal;
    font-family: $font-title;
    font-size: #{2.4 - ($i - 1)*0.3}em;
  }
}

*:focus {
  outline: none;
}

a, a:hover {
  color: $color-primary;
  text-decoration: none;
}

.text-info, .text-info:hover {
  color: $color-info;
}

.text-warning, .text-warning:hover {
  color: #ffc107;
}

.text-danger, .text-danger:hover {
  color: $color-danger;
}

.badge {
  display: inline;
  padding: .15em .5em .25em;
  font-size: .85em;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #434343;
}

::-webkit-scrollbar-track
{
  background: transparent;
}

::-webkit-scrollbar
{
  width: 10px;
  height: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb
{
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 3px solid transparent;
  background-clip: padding-box;

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
